/* Main Sass File
 *
 * @author Stefan Schwartze
 */
/* Sass Mixin: Variables
 *
 * @author Stefan Schwartze
 */
/* Sass Mixin: Vendor
 *
 * @author Stefan Schwartze
 */
/* Sass Component: Base Settings
 *
 * @author Stefan Schwartze
 */
html {
  min-width: 100%;
  position: absolute; }

body {
  color: black;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  position: absolute;
  background: white;
  color: #666666;
  font-family: Source Sans Pro;
  font-weight: lighter; }

body * {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: black;
  border: 0;
  outline: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }
  a:hover {
    cursor: pointer;
    opacity: 0.6;
    filter: alpha(opacity=60); }

p {
  font-size: 20px; }

img {
  max-width: 100%; }

.dark-on-light {
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto; }

.light-on-dark {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.button {
  float: right;
  font-size: 21px;
  display: inline-block;
  color: #1a222f;
  background: white;
  margin: 1rem 0;
  padding: 10px 25px;
  text-transform: uppercase;
  border-radius: 5px;
  background: #0ab15a;
  color: white;
  text-align: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }
  .button:hover {
    cursor: pointer; }
  .button.active, .button.button_blue {
    background: #1a222f;
    color: white;
    border: solid 1px transparent; }
  .button.button_blue:hover, .button.switch:hover, .button.switch.active {
    opacity: 1 !important;
    color: #1a222f;
    background: transparent;
    border: solid 1px #1a222f; }

.table_heading {
  font-family: Droid Serif;
  margin-bottom: 0.25em; }

.table_underline {
  color: gray;
  margin-top: 0; }

.table_image {
  border: solid 2px #848484;
  border-radius: 50%;
  max-width: 120px; }

/* Sass Component: Header
 *
 * @author Stefan Schwartze
 */
.header.section {
  background: #1a222f;
  color: white;
  font-size: 1.5rem;
  border-bottom: solid 4px #0ab15a;
  position: fixed;
  z-index: 1; }
  .header.section .section_content {
    padding: 0rem 2rem; }
    .header.section .section_content .header_title .fa {
      margin-right: 1rem; }
    .header.section .section_content .header_title span:last-child {
      font-weight: bold;
      text-transform: uppercase; }

/* Sass Component: Menus
 *
 * @author Stefan Schwartze
 */
.header_menu_list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0; }

.header_menu_list_item {
  display: flex;
  align-items: center;
  padding: 1rem; }
  .header_menu_list_item.active {
    color: #0ab15a; }
  .header_menu_list_item a {
    color: white; }
    .header_menu_list_item a .fa {
      margin-right: 0.5rem; }

@media only screen and (max-width: 640px) {
  .header_menu_list_item {
    width: 25%; }
    .header_menu_list_item a {
      width: 100%; }
      .header_menu_list_item a .fa {
        margin: 0; }
    .header_menu_list_item:first-child {
      margin-left: 0; }

  .header span {
    display: none; } }
/* Sass Component: Section-Elements
 *
 * @author Stefan Schwartze
 */
.section {
  position: relative;
  width: 100%; }

.section_content {
  position: relative;
  margin: auto;
  max-width: 1280px;
  padding: 0 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .section_content .section_content_heading_small .fa {
    margin-right: 1rem; }

.row {
  width: 100%; }
  .row .col {
    width: 100%;
    float: left; }
    .row .col > img {
      float: left;
      position: relative; }
  .row .col2 {
    width: 50%; }
    .row .col2:first-child {
      padding-right: 0.5rem; }
    .row .col2:last-child {
      padding-left: 0.5rem; }
  .row .col34 {
    width: 75%; }
  .row .col14 {
    width: 25%; }

.chart {
  margin: 1rem; }

@media only screen and (max-width: 560px) {
  .section_content {
    padding: 0.5rem; }

  .row .col2 {
    width: 100%;
    padding: 0 !important; } }
/* Sass Component: Page-Slider
 *
 * @author Stefan Schwartze
 */
.page-slider {
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translate3d(0, 0, 0);
  width: 100%;
  /* margin-bottom: 1em */
  position: relative;
  margin-bottom: 0; }
  .page-slider .page {
    list-style: none;
    display: inline-block;
    margin-right: 1rem;
    margin-bottom: 1rem;
    border-radius: 7px;
    cursor: pointer;
    box-shadow: 0 1px 12px #cccccc;
    position: relative; }
    .page-slider .page.active {
      background: white;
      margin-bottom: 0;
      padding-bottom: 1rem;
      border-radius: 7px 7px 0 0; }
    .page-slider .page.add .page-thumb {
      border-top: dashed 3px rgba(255, 255, 255, 0.5);
      border-left: dashed 3px rgba(255, 255, 255, 0.5);
      border-right: dashed 3px rgba(255, 255, 255, 0.5);
      color: rgba(255, 255, 255, 0.5); }
    .page-slider .page.add:hover .page-thumb {
      border-color: white;
      color: white; }
    .page-slider .page.all .page-thumb .mini-overlay {
      background: white;
      color: green; }
    .page-slider .page:last-child {
      margin-right: 0; }
    .page-slider .page .page-thumb {
      width: 240px;
      height: 120px;
      border-radius: 7px 7px 0 0;
      overflow: hidden;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 5rem; }
      .page-slider .page .page-thumb iframe {
        width: 1200px;
        height: 750px;
        transform: scale(0.2);
        transform-origin: left top;
        position: absolute;
        border: none;
        left: 0; }
      .page-slider .page .page-thumb .mini-overlay {
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
        z-index: 1;
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
        opacity: 0.85;
        color: white;
        border-radius: 7px 7px 0 0; }
        .page-slider .page .page-thumb .mini-overlay canvas {
          max-height: 60px;
          max-width: 60px;
          padding: 0.5rem; }
      .page-slider .page .page-thumb .preview-value {
        font-size: 3rem; }
    .page-slider .page .page-meta {
      padding: 0.5rem;
      background: white;
      border-radius: 0px 0px 7px 7px; }
      .page-slider .page .page-meta h3 {
        margin: 0;
        text-align: center; }

body {
  background: #394963; }

.section.overview {
  background: #394963;
  background: #dfe9f2;
  margin-top: calc(4rem + 3px); }
  .section.overview .section_content {
    padding: 0; }

.chart {
  position: relative;
  margin: 1rem auto; }
  .chart.site {
    max-height: 200px;
    max-width: 200px; }
  .chart input {
    height: 100px;
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: none;
    border-bottom: solid 1px white;
    width: 100%;
    font-size: 4rem;
    font-family: Roboto;
    color: white; }

canvas {
  z-index: 1; }

.chart-value {
  position: absolute;
  width: 100%;
  text-align: center;
  height: 100%;
  font-size: 4rem;
  line-height: 11rem;
  vertical-align: middle;
  z-index: 0; }
  .chart-value sup {
    font-size: 1rem;
    vertical-align: super;
    margin-top: 0rem;
    top: -0.6rem;
    position: relative; }

.support {
  background: white; }

.statistic {
  color: white; }

@media only screen and (max-width: 520px) {
  .chartcol #chart-site {
    max-height: 150px;
    max-width: 150px; }
  .chartcol .section_content_heading_small {
    display: inline-block;
    margin: 0; }

  .button {
    width: 100%; } }
