/*
 * Main Sass File
 *
 * @author Stefan Schwartze
 */

// Variables
@import "helpers/vars.sass"
@import "helpers/vendor.sass"

// Basic styles
@import "helpers/base.sass"

// Components
@import "components/header.sass"
@import "components/menus.sass"
@import "components/section-elements.sass"
@import "components/page-slider.sass"

body
	background: #394963

.section.overview
	background: #394963
	background: #DFE9F2
	margin-top: calc(4rem + 3px)
	.section_content
		padding: 0

.chart
	position: relative
	margin: 1rem auto
	&.site
		max-height: 200px
		max-width: 200px
	input
		height: 100px
		-webkit-appearance: none
		box-shadow: none
		border: none
		background: none
		border-bottom: solid 1px white
		width: 100%
		font-size: 4rem
		font-family: Roboto
		color: white
canvas
	z-index: 1
.chart-value
	position: absolute
	width: 100%
	text-align: center
	height: 100%
	font-size: 4rem
	line-height: 11rem
	vertical-align: middle
	z-index: 0
	sup
		font-size: 1rem
		vertical-align: super
		margin-top: 0rem
		top: -.6rem
		position: relative
.heading_left
.support
	background: white
.statistic
	color: white

@media only screen and (max-width : 1600px)
@media only screen and (max-width : 1024px)
@media only screen and (max-width : 640px)
@media only screen and (max-width : 520px)
	.chartcol
		#chart-site
			max-height: 150px
			max-width: 150px
		.section_content_heading_small
			display: inline-block
			margin: 0
	.heading_right
	.button
		width: 100%
